# FastAPI y servidor ASGI
fastapi==0.115.12
uvicorn[standard]==0.34.2
pydantic==2.11.3
pydantic_core==2.33.1

# Seguridad y autenticación
python-dotenv==1.1.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
python-jose==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.0

# Base de datos (SQLAlchemy + PostgreSQL)
SQLAlchemy==2.0.30
psycopg2-binary==2.9.10
